In [69]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime 
from datetime import date 
import pprint as pp
file="gun-violence-data_01-2013_03-2018.csv"

In [70]:
#['incident_id', 'date', 'state', 'city_or_county','n_killed',
#       'n_injured',  'latitude',
#       'location_description', 'longitude','participant_age', 'participant_age_group', 'participant_gender']



fields=['incident_id',
 'date',
 'state',
 'city_or_county',
 'n_killed',
 'n_injured','latitude',
 'longitude', 'participant_age',
 'participant_age_group',
 'participant_gender',
 'participant_status',
 'participant_type']
df=pd.read_csv(file,usecols=fields)
df.head(12)

,incident_id,date,state,city_or_county,n_killed,n_injured,latitude,longitude,participant_age,participant_age_group,participant_gender,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,40.3467,-79.8559,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,1,3,33.9090,-118.3330,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1,3,41.4455,-82.1377,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,4,0,39.6518,-104.8020,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,2,2,36.1140,-79.9569,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
5,478948,2013-01-07,Oklahoma,Tulsa,4,0,36.2405,-95.9768,0::23||1::23||2::33||3::55,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Female||2::Female||3::Female||4:...,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
6,479363,2013-01-19,New Mexico,Albuquerque,5,0,34.9791,-106.7160,0::51||1::40||2::9||3::5||4::2||5::15,0::Adult 18+||1::Adult 18+||2::Child 0-11||3::...,0::Male||1::Female||2::Male||3::Female||4::Fem...,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
7,479374,2013-01-21,Louisiana,New Orleans,0,5,29.9435,-90.0836,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Male,0::Injured||1::Injured||2::Injured||3::Injured...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
8,479389,2013-01-21,California,Brentwood,0,4,37.9656,-121.7180,NaN,0::Teen 12-17||1::Teen 12-17||2::Teen 12-17||4...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Injured||1::Injured||2::Injured||3::Injured...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
9,492151,2013-01-23,Maryland,Baltimore,1,6,39.2899,-76.6412,0::15,0::Teen 12-17||1::Adult 18+||2::Adult 18+||3::...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured|...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
10,491674,2013-01-23,Tennessee,Chattanooga,1,3,35.0221,-85.2697,0::19,0::Adult 18+,0::Male||1::Male||2::Male||3::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
11,479413,2013-01-25,Missouri,Saint Louis,1,3,38.7067,-90.2494,0::28,0::Adult 18+,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...

In [32]:
df.count()

incident_id              239677
date                     239677
state                    239677
city_or_county           239677
n_killed                 239677
n_injured                239677
latitude                 231754
longitude                231754
participant_age          147379
participant_age_group    197558
participant_gender       203315
participant_status       212051
participant_type         214814
dtype: int64

In [71]:
#creating subset file for graps related to crime and region and victim counts. cleanup phase 1
inc_dt_region_df = df[['incident_id', 'date','state','city_or_county','n_killed','n_injured']].copy()
inc_dt_region_df.head()

inc_dt_region_df.to_csv("inc_dt_region_vict.csv",index=False)

In [72]:
#creating csv for lat long plot . remove the null values for lat long. approx 8k rows were eliminated that had no lat long
#Cleanup Ph 2
inc_dt_reg_lat_lon_df = df[['incident_id', 'date','state','latitude','longitude']].copy()
inc_dt_reg_lat_lon_df =inc_dt_reg_lat_lon_df.dropna(how='any')
inc_dt_reg_lat_lon_df.to_csv("inc_dt_reg_lat_lon.csv",index=False) 
inc_dt_reg_lat_lon_df.count()
inc_dt_reg_lat_lon_df.head()

   incident_id        date           state  latitude  longitude
0       461105  2013-01-01    Pennsylvania   40.3467   -79.8559
1       460726  2013-01-01      California   33.9090  -118.3330
2       478855  2013-01-01            Ohio   41.4455   -82.1377
3       478925  2013-01-05        Colorado   39.6518  -104.8020
4       478959  2013-01-07  North Carolina   36.1140   -79.9569

In [78]:
#datacleanup to find ages and number of people involved in each incident. 
#ages has a lot of null and approx 85k of data will be dropped, by putting thresh=2 and brnging in agegroup, this was reduced
# to 30k drop in rows
#another 200 rows dropped wth none in age group column
df.columns
#incident
working_df = df[['incident_id', 'participant_age','participant_age_group' ]].copy()
working_df=working_df.dropna(thresh=2)
working_df=working_df.dropna(subset=['participant_age_group'])
#thresh=2
#working_df["Individual Age"]=""
#working_df["Individual Age Group"]=""

working_df.head(12)

,incident_id,participant_age,participant_age_group
0,461105,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
1,460726,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
2,478855,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
3,478925,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
4,478959,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...
5,478948,0::23||1::23||2::33||3::55,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
6,479363,0::51||1::40||2::9||3::5||4::2||5::15,0::Adult 18+||1::Adult 18+||2::Child 0-11||3::...
8,479389,NaN,0::Teen 12-17||1::Teen 12-17||2::Teen 12-17||4...
9,492151,0::15,0::Teen 12-17||1::Adult 18+||2::Adult 18+||3::...
10,491674,0::19,0::Adult 18+
11,479413,0::28,0::Adult 18+
12,479561,3::78||4::48,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...

In [79]:
working_df.to_csv("working_df.csv",index=False)

In [83]:
list1_part_age=[]
list1_part_age_grp=[]
list2_part_age_grp=[]
master_ls=[]
for index, row in working_df.iterrows():
    incidentid = row['incident_id']
    part_age=row['participant_age']
    part_age_grp=row['participant_age_group']
    list1_part_age_grp=part_age_grp.split('||')
    for item in list1_part_age_grp:
         
        list2_part_age_grp=item.split('::')
        
        list2_part_age_grp.append(incidentid)
        master_ls.append(list2_part_age_grp)
        #print(list2_part_age_grp)
#age_grp_df=pd.DataFrame(list2_part_age_grp,['peop_cnt','age_grp','incident_id'])    
#age_grp_df.head()
print(master_ls)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)